terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/.terraform/
terraform/load_data.zip
terraform/roles.tf
out.txt
.gitignore
help.txt
scripts/classes/__pycache__